.mapList {
  padding: 25px;
  text-align: center;
}

.maps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.itemMap {
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  width: 330px;
}

.itemMap a {
  text-decoration: none;
  color: #000;
}

.pageTitle {
  font-size: 30px;
  font-weight: bold;
}

.displayImg img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.displayImg img {
  width: 99%;
  height: 99%;
  margin: 0 auto;
  border-radius: 2px;
}
